.product-container{

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px;

}

.products{

   
    width: 300px;
    /* border: 1px solid; */

    box-shadow: 0px 0px 2px gray;
    margin-left: 30px;

}

.products img{

    width: 180px;

}